//google fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji|Oswald|Raleway);
@import url(https://fonts.googleapis.com/css?family=Arimo|Bree+Serif);

//basic test variables
$tc: #566683;
$tcc: #F2F2F2;
$blk: #000000;

//font variables
$raleway: 'Raleway', serif;
$baloo-paaji: 'Baloo Paaji', serif;
$oswald: 'Oswald', serif;
$arimo: 'Arimo', serif;
$bree-serif: 'Bree Serif',serif;

a {
	color: black;
	background-color: Transparent;
}

.nav-item {
	font-family: $bree-serif;
}

.title {
	font-family: $bree-serif;
}

.infoTitle {
	font-family: $bree-serif;
}

.info {
	font-family: $bree-serif;
	}

.nav-item {
	font-family: $bree-serif;
}

.proposals {
	.proposalList {
		list-style-type: none;
	}
}

img {
	height: 75px;
    width: 50%;
}

.vendorInfo {
	list-style-type: none;
}

#chartdiv {
	width: 100%;
	height: 300px;
	background-color: #222222;	
}
