//google fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji|Oswald|Raleway);

//basic test variables
$tc: #566683;
$tcc: #F2F2F2;
$blk: #000000;

//font variables
$raleway: 'Raleway', serif;
$baloo-paaji: 'Baloo Paaji', serif;
$oswald: 'Oswald', serif;